<nav ng-if="pages.length >= 2">
    <ul class="pagination">
        <li><a style="float:left;" ng-click="selectPage(1)">首页</a></li>
        <li class="previous" ng-class={"disabled":currentPage===1} ng-disabled="currentPage===1"><a ng-click="currentPage===1 || selectPage(currentPage - 1)">上一页</a></li>
        <li ng-repeat="page in pages" ng-class="{active: page==currentPage}"><a href="javascript: void(0);"  ng-click="selectPage(page)">{{page}}</a></li>
        <li style="float:right;"><span><page-select></page-select> / {{numPages}}页</span></li>
        <li><a style="float:right;" ng-click="selectPage(numPages)">尾页</a></li>
        <li class="next" ng-class="{disabled:currentPage>=numPages}" ng-disabled="currentPage>=numPages"><a ng-click="currentPage===numPages || selectPage(currentPage + 1)" >下一页</a></li>
    </ul>
</nav>