<div>
    <h2>xoDates方法</h2>
    <h4>获取当前季度开始月</h4>
    <pre>xoDates.getQuarterStartMonth()</pre>
    <h4>Examples</h4>
    <p>
        <span>输出: {{getQuarterStartMonth()}}</span>
    </p>
    <hr>
    <h4>千位分隔符</h4>
    <pre>&lt;input ng-model="currency" xo-input-currency fraction-size="2" placeholder="输入金额" /&gt;</pre>
    <h4>Arguments</h4>
    <ul>
        <li>[fraction-size=''] (string): The round-ups.</li>
    </ul>
    <h4>Examples</h4>
    <p>
        <span>输入: 1000</span>
        <span>输出: 1,000</span>
    </p>
    <input ng-model="currency" xo-input-currency fraction-size="2" placeholder="输入金额" />{{currency}}
</div>
